<div class="revisions-comarator">
  <div>
    <h2>Revisions comparator</h2>
  </div>
  <nz-divider></nz-divider>
  <div class="revision-wrap">
    <div class="table-wrap">
      <nz-table 
        [nzData]="noteRevisions"
        [nzShowPagination]="false"
        [nzScroll]="{y: '600px' }">
        <thead>
          <tr>
            <th nzLeft>Revision name</th>
            <th nzWidth="150px">Date</th>
            <th nzRight nzWidth="100px">Operate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let revision of noteRevisions">
            <td>{{revision.message}}</td>
            <td>{{formatRevisionDate(revision.time)}}</td>
            <td>
              <button 
                nz-button 
                nzType="primary" 
                [nzSize]="'small'" 
                (click)="getApproval(revision)"
                >提交审批</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="diff-wrap">
      <div class="select-wrap">
        <nz-select [(ngModel)]="preRevisionOption" (ngModelChange)="onOptionChange(preRevisionOption,'pre')" [nzPlaceHolder]="'pre revision'" class="custom-select">
          <nz-option *ngFor="let option of noteRevisions" [nzValue]="option.id" [nzLabel]="option.message">{{option}}</nz-option>
        </nz-select> -->
        <nz-select [(ngModel)]="curRevisionOption" (ngModelChange)="onOptionChange(curRevisionOption,'cur')" [nzPlaceHolder]="'cur revision'" class="custom-select">
          <nz-option *ngFor="let option of noteRevisions" [nzValue]="option.id" [nzLabel]="option.message">{{option}}</nz-option>
        </nz-select>
      </div>
      <zeppelin-revision-diff 
        [diffValue]="diffValue" 
        [language]="'sql'"
        style="flex:1">
      </zeppelin-revision-diff>
    </div>
  </div>
</div>
